.user-avatar-top-menu-frame {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #c1c1c1;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.remove-mb {
    margin-bottom: 0;
}

.btn.btn-legitize{
    background-color: #ff3f00 !important;
}

.card-bg-monitor-participants{
    background-color: #24425a !important;
}
.card-bg-campaigns {
    background-color: black !important;
}
.card-bg-managers {
    background-color: #2e3154 !important;
}
.card-bg-telegram {
    background-color: #3aa1ec !important;
}
.card-bg-token-friendly{
    background-color: #3c3b38 !important;
}
.card-bg-share {
    background-color: #80989b !important;
}