.mouse-alias:hover {cursor: alias;}
.mouse-all-scroll:hover {cursor: all-scroll;}
.mouse-auto:hover {cursor: auto;}
.mouse-cell:hover {cursor: cell;}
.mouse-context-menu:hover {cursor: context-menu;}
.mouse-col-resize:hover {cursor: col-resize;}
.mouse-copy:hover {cursor: copy;}
.mouse-crosshair:hover {cursor: crosshair;}
.mouse-default:hover {cursor: default;}
.mouse-e-resize:hover {cursor: e-resize;}
.mouse-ew-resize:hover {cursor: ew-resize;}
.mouse-grab:hover {cursor: grab;}
.mouse-grabbing:hover {cursor: grabbing;}
.mouse-help:hover {cursor: help;}
.mouse-move:hover {cursor: move;}
.mouse-n-resize:hover {cursor: n-resize;}
.mouse-ne-resize:hover {cursor: ne-resize;}
.mouse-nesw-resize:hover {cursor: nesw-resize;}
.mouse-ns-resize:hover {cursor: ns-resize;}
.mouse-nw-resize:hover {cursor: nw-resize;}
.mouse-nwse-resize:hover {cursor: nwse-resize;}
.mouse-no-drop:hover {cursor: no-drop;}
.mouse-none:hover {cursor: none;}
.mouse-not-allowed:hover {cursor: not-allowed;}
.mouse-pointer:hover {cursor: pointer;}
.mouse-progress:hover {cursor: progress;}
.mouse-row-resize:hover {cursor: row-resize;}
.mouse-s-resize:hover {cursor: s-resize;}
.mouse-se-resize:hover {cursor: se-resize;}
.mouse-sw-resize:hover {cursor: sw-resize;}
.mouse-text:hover {cursor: text;}
.mouse-w-resize:hover {cursor: w-resize;}
.mouse-wait:hover {cursor: wait;}
.mouse-zoom-in:hover {cursor: zoom-in;}
.mouse-zoom-out:hover {cursor: zoom-out;}